

body {
  color: #800000;
}

p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 10px;
  border: 2px solid #5D6063;
  background-color: #800000;
  color: #FFEBCD;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;

}

li a {
  float: left;
  display: block;
  color: #FFEBCD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

p {
  text-align: center;
}

h1, h4 {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

h1 {
  padding: 10px;
  color: #111;
  margin-left: 600px;
  margin-right: 600px;
}

.button {
  color: #FFEBCD;
  background-color: #800000;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  margin: 20px auto;

}

.button a {
  color: #FFEBCD;
  text-decoration: none;
}

.button:hover {
  background-color: #111;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.menu-container {
  color: #FFEBCD;
  background-color: #800000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.menu-options a {
  color: #FFEBCD;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 15px;
  display: block;
}

.menu-options:hover {
  background-color: #111;
}

.header-container {
  color: #800000;
  background-color: #FFB6C1;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.logo {
  color: #111;
  font-size: 60px;
  text-align: center;
  padding: 100px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
  body {
    background-color: #DCDCDC
  }
}

/* Desktop Styles */
@media only screen and (min-width: 501px) {
  body {
    background-color: #FFEBCD;
  }
}
